.root {
  width: 100%;
  padding-inline: 64px;
  font-family: "Montserrat";
  font-style: normal;
}
.root__header_back {
  width: 30px;
  height: 30px;
  margin-right: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
}
.root__header_back:hover {
  border: 1px solid #d58c51;
}
.root__header_back:hover svg path {
  fill: #6bd551;
}
.root__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding: 54px 0px 40px;
}
.root__title {
  color: #fff;
  font-size: 31px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
}
.root_cart {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 20px;
}
.root_cart__username {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
  max-width: 150px;
  text-align: start;
  margin-right: 8px;
}
.root_cart__value {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
  max-width: 150px;
  text-align: end;
}
.root_cart__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(213, 140, 81);
  border-radius: 100px;
  border: 1px solid rgb(213, 140, 81);
  width: 50px;
  height: 50px;
  transition: background-color 0.25s ease;
}
.root_cart__button:hover {
  border-color: hsl(219, 76%, 55%);
  color: #fff;
  outline-offset: 0px;
  background: hsl(219, 76%, 40%);
  box-shadow: inset 0 0 0 5px hsl(219, 76%, 40%), inset 0 0 0 10px hsl(219, 76%, 25%);
}
.root__logout {
  display: inline-block;
  cursor: pointer;
  font: inherit;
  font-weight: 700;
  color: hsl(219, 76%, 25%);
  text-decoration: none;
  background: #fff;
  padding: 0.75em 2.5em;
  outline: 3px solid currentColor;
  outline-offset: -6px;
  border: 5px solid transparent;
  transition: 500ms;
}
.root__logout:hover {
  border-color: hsl(219, 76%, 55%);
  color: #fff;
  outline-offset: 0px;
  background: hsl(219, 76%, 40%);
  box-shadow: inset 0 0 0 5px hsl(219, 76%, 40%), inset 0 0 0 10px hsl(219, 76%, 25%);
}