.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #161516;
  height: 100vh;
}
.root .nr_wrapper {
  padding-top: 54px;
  width: 100%;
}
.root .footer {
  border-top: 1px solid #d58c51;
  width: 100%;
  padding-inline: 20vw;
}
.root .footer .nr_wrapper {
  padding-block: 20px 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.root .footer__text {
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  /* identical to box height */
  text-transform: uppercase;
  color: #ffffff;
}
.root .footer__order_price {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-left: 16px;
  color: #d58c51;
}
.root .footer__send_order {
  display: inline-block;
  cursor: pointer;
  font: inherit;
  font-weight: 700;
  color: hsl(219, 76%, 25%);
  text-decoration: none;
  background: #fff;
  padding: 0.75em 2.5em;
  outline: 3px solid currentColor;
  outline-offset: -6px;
  border: 5px solid transparent;
  transition: 500ms;
}
.root .footer__send_order:hover {
  border-color: hsl(219, 76%, 55%);
  color: #fff;
  outline-offset: 0px;
  background: hsl(219, 76%, 40%);
  box-shadow: inset 0 0 0 5px hsl(219, 76%, 40%), inset 0 0 0 10px hsl(219, 76%, 25%);
}